@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --dark-grey: #404E4D;
    --red: #C3423F;
    --green: #9BC53D;
    --yellow: #FDE74C;
    --blue: #5BC0EB;
}

/* Default styles */
body,html{
    margin: 0;
    font-family: "Roboto", serif;
}

/* Header Styles */
header{
    background-color: var(--dark-grey);
    color: var(--blue);
    text-align: center;
    padding: 20px 0;
    text-transform: uppercase;

}

header h1 {
    margin: 0;
    font-weight: bold;
    letter-spacing: 10px;
}

main{
    margin-top: 50px;
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.contained{
    width: 80%;
    margin: 20px auto;
}

.controls-area{
    width: 30vw;
}

@media screen and (max-width: 769px){
    .controls-area{
        width: 100%;
    }
}

/* Grid Styles */
#play-grid{
    width: 40vw;
    aspect-ratio: 1/1;
    margin: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,0.5);
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

@media screen and (max-width: 769px){
    main{
        flex-direction: column;
        align-items: center;
    }
    #play-grid{
        margin-top: 20px;
        width: 80vw;
    }
}

.play-grid-row{
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 1;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.play-grid-cell{
    aspect-ratio: 1/1;
    border: .5px solid rgba(0,0,0,0.2);
    display: flex;
    flex-grow: 1;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.play-grid-cell:hover{
    background-color: rgba(0,0,0,0.25);
}

/* Grid Controls */
.controls-row{
    width: 80%;
    margin: 0 auto;
}

span.controls-row-title{
    text-transform: uppercase;
    min-width: 100%;
    display: block;
    color: rgba(0,0,0,0,0.5);
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.4);
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
}

.control-btn{
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.label-input-pair{
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.control-btn:hover{
    background-color: var(--blue);
}